


/* Start:/bitrix/templates/termo-wood.ru/components/bitrix/news/akcii/bitrix/news.list/.default/style.css*/
.aktsii-item { position: relative;}
.aktsii-closed-bg{ width: 100%; height: 100%; display: block; position: absolute;    background: #e6e6e67a; top: 0; left: 0; }
/* End */
/* /bitrix/templates/termo-wood.ru/components/bitrix/news/akcii/bitrix/news.list/.default/style.css */
